.ui.fixed.menu.top{
    background-color: #8a7476;
}

.customHeader, .pusher{
    height: 60px;
    
}
.logoIcon{
    cursor: pointer;
}
 .pushable {
    overflow-x: visible;
    }
#slide{
    /* z-index: -1; */
}
.slideImg{
    z-index: -1;
}