
.uploadedImages{
    display: flex;
    
}
.dashboard{
    margin-top: 20px;
}

.dashboard.ui.container{
    overflow-y: scroll;
    overflow-x: scroll;
}
.dashboard .mainTabs>.ui.grid{
    min-width: 540px;
}

.dashboard .mainTabs>.ui.grid .stretched{
    min-width: 405px;
}
.dashboard .mainTabs>.ui.grid .active.tab{
    min-width: 380px;
}