.custom-modal .ui.form{
    width: 50%; 
}
.ui.button.buyBtn{
    position: relative;
    border: none;
    background: #fbe8ea;
    border-radius: 15px;
    color: chocolate;
    /* margin-left: 25px;  */
}
.ui.button.buyBtn:hover{
    background: #d3c0ba; 
    color: #fbe8ea;
    cursor: pointer;
}
.ui.button.modalBuyBtn{
    left: 0;
}
.ui.modal>.content>.image+.description {
    font-style: italic;
    font-weight: 700;
    color: rgb(197, 145, 160);
}
.ui.header{
    font-weight: 100;
    color: rgb(138 116 118)
}
.ui.header+p{
    color: rgb(193, 193, 193);
}