.ui.avatar.image.product-icon{
    width: 50px;
    height: auto;
    border-radius: 20%;
}
/* .ui.avatar.image{
    border-radius: 0%; 
} */
.grid-table{
    height: 90px;
}
.upload{
   border: none;
   background: none;
   color: brown;
   cursor: pointer;
}
.icon.iconUpload{
   font-size: 20px;
}
input[type=file] {
    display: none;
}
.productId{
    font-family: "Libre Baskerville", serif;
}

.ui.button.buyBtn{
    /* left: 40%; */
    margin-bottom: 30px;
}
.price{
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    color: brown;
}
.orderDate{
    font-size: 8px;
}
.tooltip{
  /* border-radius: 100px; */
  opacity: 0.7;
  /* padding: '2em'; */
 /* font-size: '0.5em'; */
}